@import "../variables.scss";

#services {
  @extend .flex-container;
}

.service {
  &__header {
    flex-grow: 1;
    order: 2;
    background: $main-color url("../images/service-background.jpg") 50% no-repeat;
    background-size: cover;
    padding: 115px 10px;
    color: $light-content-content;
    @media screen and (max-width: 1110px) {
      order: 0;
      padding: 35px 10px;
    }
    &--title {
      @include title-section ($light-content-content);
      &:before {
        display: block;
        content: " ";
        height: 62px;
        width: 62px;
        background: url("../images/service-section/service.png") no-repeat;
        margin: 0 auto 20px;
      }
    }
    &--text {
      margin: 100px auto 0;
      width: 350px;
      font-style: italic;
    }
    &--author {
      font-weight: 700
    }
  }
  &__description {
    @extend .flex-container;
    width: 760px;
    margin: auto;
  }
}

.description__item {
  height: 400px;
  flex: 1 1 380px;
  padding: 100px 40px;
  font-style: italic;
  &:nth-child(3) {
    @media screen and (max-width: 820px) {
      order: 2;
    }
  }
  &:hover{
    background: rgba($main-color, 0.5);
  }
  &--design, &--mobile {
    background-color: #dbdbdb;
  }
  &--title {
    font-size: 24px;
    text-transform: uppercase;
    font-style: normal;
    margin-bottom: 20px;
  }
  &--icon {
    display: block;
    content: " ";
    height: 61px;
    width: 61px;
    margin: 0 auto 30px;

  }
}

.icon {
  &__design {
    background: url("../images/service-section/graphic.png") 50% no-repeat;
  }
  &__web {
    background: url("../images/service-section/web.png") 50% no-repeat;
  }
  &__seo {
    background: url("../images/service-section/seo.png") 50% no-repeat;
  }
  &__mobile {
    background: url("../images/service-section/mobile.png") 50% no-repeat;
  }
}






